*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul,
  ol {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  a {
    text-decoration: none;
  }
  
  :root {
    --second-family: "Barlow", sans-serif;
  }
  
  body {
    font-family: "Fraunces", serif;
  }

  .container{
    width: 1242px;
    margin-left:auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
  }