.foter__box{
    margin-top: 48px;
    background-color: #0B7572;
    padding: 50px 40px 61px 41px;
}

.footer__btn{
    text-align: center;
    font-weight: 600;
    font-size: 10px;
    line-height: 150%;
    padding: 8px 47px 8px 60px;
    text-transform: uppercase;
    color: #fff;
    background-color: #FF9619;
    color: #fff;
}

@media screen and (min-width:768px) {
    .footer__btn{
        padding: 10px 57px 10px 70px;
    }
}


